<lccdd>

	<info name="MuColl_v1.1"
		title="Muon Collider geometry for sqrt(s) = 1.5 TeV"
		author="Nazar Bartosik"
		url="https://confluence.infn.it/display/muoncollider/Muon+Collider+Home"
		status="development"
		version="$Id$">
		<comment>Cleaned-up 'v1' version with a few bug fixes</comment>
	</info>

	<define>
		<!-- World dimensions -->
		<constant name="world_side"           value="30000*mm"/>
		<constant name="world_x"              value="world_side"/>
		<constant name="world_y"              value="world_side"/>
		<constant name="world_z"              value="world_side"/>

		<!-- Detector IDs -->
		<constant name="DetID_VXD_Barrel"     value="1"/>
		<constant name="DetID_VXD_Endcap"     value="2"/>

		<constant name="DetID_IT_Barrel"      value="3"/>
		<constant name="DetID_IT_Endcap"      value="4"/>

		<constant name="DetID_OT_Barrel"      value="5"/>
		<constant name="DetID_OT_Endcap"      value="6"/>

		<constant name="DetID_ECal_Barrel"    value="20"/>
		<constant name="DetID_ECal_Endcap"    value="29"/>

		<constant name="DetID_HCAL_Barrel"    value="10"/>
		<constant name="DetID_HCAL_Endcap"    value="11"/>
		<constant name="DetID_HCAL_Ring"      value="12"/>

		<constant name="DetID_Yoke_Barrel"    value="13"/>
		<constant name="DetID_Yoke_Endcap"    value="14"/>

		<!-- Envelope parameters -->
		<comment> suggested naming convention:

			main parameters:

			DET_inner_radius    : inner radius of tube like envelope  ( inscribed cylinder )
			DET_outer_radius    : outer radius of tube like envelope  ( circumscribed cylinder )
			DET_half_length     : half length along z axis
			DET_min_z           : smallest absolute value on z-axis
			DET_max_z           : largest  absolute value on z-axis
			DET_inner_symmetry  : number of sides on the inside  ( 0 for tube )
			DET_outer_symmetry  : number of sides on the inside  ( 0 for tube )
			DET_inner_phi0      : optional rotation of the inner polygon ( in r-phi plane )
			DET_outer_phi0      : optional rotation of the outer polygon ( in r-phi plane )

			additional parameters for cutting away volumes/shapes use one of the above with a number
			appended and/or an extra specifiaction such as cone ( for a cut away cone )

			DET_inner_radius_1
			DET_outer_radius_2
			DET_cone_min_z
			DET_cone_max_z

		</comment>

		<constant name="env_safety"                 value="0.1*mm"/>

		<constant name="Nozzle_min_z"          value="6*cm"/>
		<constant name="Nozzle_max_z"          value="600*cm"/>

		<constant name="Vertex_outer_radius"        value="115*mm"/>
		<constant name="Vertex_half_length"         value="285*mm"/>

		<constant name="InnerTracker_outer_radius"  value="580*mm"/>
		<constant name="InnerTracker_half_length"   value="2306*mm"/>

		<constant name="OuterTracker_inner_radius"  value="580*mm"/>
		<constant name="OuterTracker_outer_radius"  value="1500*mm - 0.1*mm"/>  <!-- to avoid overlap with CaloFace-->
		<constant name="OuterTracker_half_length"   value="2306*mm"/>

		<constant name="ECalBarrel_inner_radius"    value="1500*mm"/>
		<constant name="ECalBarrel_outer_radius"    value="1702*mm"/>
		<constant name="ECalBarrel_half_length"     value="2210*mm"/>
		<constant name="ECalBarrel_symmetry"        value="12"/>

		<constant name="ECalEndcap_inner_radius"    value="310*mm"/>
		<constant name="ECalEndcap_outer_radius"    value="1700*mm"/>
		<constant name="ECalEndcap_min_z"           value="2307*mm"/>
		<constant name="ECalEndcap_max_z"           value="2509*mm"/>
		<constant name="ECalEndcap_outer_symmetry"  value="12"/>
		<constant name="ECalEndcap_inner_symmetry"  value="12"/>

		<constant name="HCalBarrel_inner_radius"    value="1740*mm"/>
		<constant name="HCalBarrel_outer_radius"    value="3330*mm"/>
		<constant name="HCalBarrel_half_length"     value="2210*mm"/>
		<constant name="HCalBarrel_symmetry"        value="12"/>

		<constant name="HCalEndcap_inner_steps"     value="5"/>
		<constant name="HCalEndcap_inner_radius"    value="307*mm"/>
		<constant name="HCalEndcap_inner_radius2"   value="445*mm"/>
		<constant name="HCalEndcap_outer_radius"    value="3246*mm"/>
		<constant name="HCalEndcap_min_z"           value="2539*mm"/>
		<constant name="HCalEndcap_max_z"           value="4129*mm"/>
		<constant name="HCalEndcap_symmetry"        value="12"/>
		<constant name="HCalEndcap_zcutout"         value="200*mm"/>

		<constant name="HCalRing_inner_radius"      value="1738*mm"/>
		<constant name="HCalRing_outer_radius"      value="HCalEndcap_outer_radius"/>
		<constant name="HCalRing_min_z"             value="2353.5*mm"/>

		<constant name="Solenoid_inner_radius"      value="3483*mm"/>
		<constant name="Solenoid_outer_radius"      value="4290*mm"/>
		<constant name="Solenoid_half_length"       value="4129*mm"/>
		<constant name="Solenoid_Coil_half_length"  value="3900*mm"/>
		<constant name="Solenoid_Coil_radius"       value="3821*mm"/>

		<constant name="YokeBarrel_inner_radius"    value="4461*mm"/>
		<constant name="YokeBarrel_outer_radius"    value="6450*mm"/>
		<constant name="YokeBarrel_half_length"     value="4179*mm"/>
		<constant name="YokeBarrel_symmetry"        value="12"/>

		<constant name="YokeEndcap_inner_radius"    value="446*mm"/>
		<constant name="YokeEndcap_inner_radius2"   value="575*mm"/>
		<constant name="YokeEndcap_outer_radius"    value="6450*mm"/>
		<constant name="YokeEndcap_min_z"           value="4179*mm"/>
		<constant name="YokeEndcap_max_z"           value="5638*mm"/>
		<constant name="YokeEndcap_outer_symmetry"  value="12"/>

		<constant name="ECal_cell_size"             value="5.1*mm"/>
		<constant name="HCal_cell_size"             value="3.0*cm"/>
		<constant name="Yoke_cell_size"             value="3.0*cm"/>
		
		<constant name="tracker_region_zmax"        value="OuterTracker_half_length"/>
		<constant name="tracker_region_rmax"        value="OuterTracker_outer_radius"/>

		<constant name="GlobalTrackerReadoutID"     type="string"
			value="system:5,side:-2,layer:6,module:11,sensor:8"/>
		<constant name="GlobalCalorimeterReadoutID" type="string"
			value="system:5,side:-2,module:8,stave:4,layer:9,submodule:4,x:32:-16,y:-16"/>
	</define>

	<limits>
		<limitset name="cal_limits">
			<limit name="step_length_max" particles="*" value="5.0" unit="mm"/>
		</limitset>
	</limits>

	<regions>
		<region name="BeampipeRegion"/>
		<region name="NozzleRegion"/>
		<region name="VertexBarrelRegion"/>
		<region name="VertexEndcapRegion"/>
		<region name="InnerTrackerBarrelRegion"/>
		<region name="OuterTrackerBarrelRegion"/>
		<region name="InnerTrackerEndcapRegion"/>
		<region name="OuterTrackerEndcapRegion"/>
	</regions>

	<display>
		<vis name="VXDVis"     alpha="1.0" r="0.2"   g="0.2"     b="0.2"   showDaughters="true"  visible="false"/>
		<vis name="ITVis"      alpha="1.0" r="0.54"  g="0.43"    b="0.04"  showDaughters="true"  visible="false"/>
		<vis name="OTVis"      alpha="1.0" r="0.8"   g="0.8"     b="0.4"   showDaughters="true"  visible="false"/>
		<vis name="ECALVis"    alpha="1.0" r="0.2"   g="0.6"     b="0"     showDaughters="true"  visible="true"/>
		<vis name="HCALVis"    alpha="1.0" r="0.078" g="0.01176" b="0.588" showDaughters="true"  visible="true"/>
		<vis name="SOLVis"     alpha="1.0" r="0.4"   g="0.4"     b="0.4"   showDaughters="true"  visible="true"/>
		<vis name="YOKEVis"    alpha="1.0" r="0.6"   g="0.0"     b="0.0"   showDaughters="true"  visible="true"/>
		<vis name="SupportVis" alpha="1"   r="0.2"   g="0.2"     b="0.2"   showDaughters="false" visible="true"/>
	</display>

	<include ref="${DD4hepINSTALL}/DDDetectors/compact/detector_types.xml"/>

	<fields>
		<field name="GlobalSolenoid" type="solenoid"
			inner_field="3.57*tesla"
			outer_field="-1.34*tesla"
			zmax="Solenoid_Coil_half_length"
			inner_radius="Solenoid_Coil_radius"
			outer_radius="YokeBarrel_outer_radius">
		</field>
	</fields>

</lccdd>
